<app-admin-header></app-admin-header>
<div class="container mt-4">
  <mat-grid-list cols="2" rowHeight="3:4" gutterSize="10">
    <!-- <mat-grid-tile>
      <div class="row">
        <h1>View Users</h1>
        <div class="image-container">
          <img class="home-page-product-image" src="../../assets/user.png" alt="">
        </div>
        <div style="display: flex; justify-content: center; height: max-content;">
          <button mat-raised-button routerLink="/viewuser" style="background-color: red; height: 40px; width: 120px;">View Users</button>
        </div>
      </div>
    </mat-grid-tile> -->
    <mat-grid-tile>
      <div class="row">
        <h1>Add Product</h1>
        <div class="image-container">
          <img class="home-page-product-image" src="../../assets/ecom1.jpg" alt="">
        </div>
        <div style="display: flex; justify-content: center; height: max-content;">
          <button mat-raised-button routerLink="/addproduct" style="background-color: red; height: 40px; width: 120px;">Add Product</button>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="row">
        <h1>View Product</h1>
        <div class="image-container">
          <img class="home-page-product-image" src="../../assets/ecom2.jpg" alt="">
        </div>
        <div style="display: flex; justify-content: center; height: max-content;">
          <button mat-raised-button routerLink="/viewproducts" style="background-color: red; height: 40px; width: 120px;">View Product</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
